<!DOCTYPE html>
<html lang="en">


<%- include('../layout/head') %>


<body id="page">
    <%- include('../layout/header') %>
    <!---------------------------------------DATABASE INFORMATION----------------------------->
    <main id="resMain">
        <section class="container1">


        <% if (locals.DB) { %>
        <% var x=''; %>
        <% if(DB.gender == 'm')  x = 'Male'; %>
        <% if(DB.gender == 'f')  x = 'Female'; %>

        <p class="prevInf">Your username: <%= DB.user_name%></p>

        <p class="prevInf">your weight: <%= DB.weight%></p>

        <p class="prevInf">Your height: <%= DB.height%></p>

        <p class="prevInf">Your age: <%= DB.age%></p>

        <p class="prevInf">Your gender: <%= x %></p>

        <% } %>
    </section>
        <!-------------------------------------END OF DATABASE INFORMATION---------------------------->



        <!---------------------------------------Calculation INFORMATION-------------------------------->

        <section class="container">
        <% if(locals.info){ %>

        <div class="results">
            <fieldset class="res">
                <legend class="data">Status:</legend>
                <h2><%= info.bmi.status%></h2>
            </fieldset>
        </div>
        <div>
            <div class="results">
                <fieldset class="res">
                    <legend class="data">Ideal Weight:</legend>
                    <h2><%= info.ideal_weight%></h2>
                </fieldset>

            </div class="results">
            <fieldset class="res">
                <legend class="data">Risk:</legend>
                <h2><%= info.bmi.risk%></h2>
            </fieldset>
        </div>

        <div class="results">
            <fieldset class="res">
                <legend class="data">BMR:</legend>
                <h2> <%= info.bmr.value%></h2>
            </fieldset>
        </div>
        <% } %>
</section>
        <!--------------------------------------END OF Calculation INFORMATION---------------------------------------------->


        <form class="radioDiet" action="/diet" method="get">
           
            <input class="diet" type="submit" value="Lets start your diet">

        </form>
    </main>
    <%- include('../layout/footer') %>
</body>

</html>