<!DOCTYPE html>
<html lang="en">


  <%- include('../layout/head') %>
<!-- <link rel="stylesheet" href="style/search.css"> -->

<body class="searchBody">
  <main class="mainSearch">
    <%- include('../layout/header') %>
        
            <div class="container2">

                <% food.results.forEach(val=>{ %>
                <div class="center-div"></div>
                <div class=" box-one "></div>
                <div class="bgimg box">

                  <img src="<%= val.image %>" ></div>
                <div class="skew"></div>
                
                
                  <ul>
                   <li>Title: <%= val.title%></li> 
                  <li>Carbs: <%= val.carbs%></li>
                   <li>Fat: <%= val.fat%></li> 
                 <li>  Protein: <%= val.protein%></li> 
                    <li>Calories: <%= val.calories%></li> 
                  </ul>
           
        <%})%>
   
    <%- include('../layout/footer') %>
    <%- include('../layout/js-links') %>
    </main>
</body>

</html>