<!DOCTYPE html>
<html lang="en">


  <%- include('../layout/head') %>


<body class="searchBody">

 
    <%- include('../layout/header') %>
    <p class="search-title" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"> Here are the search result for <%= search  %></p>
    <main class="mainSearch">
               <!-- <h1> Recipes with :</h1> -->
        <% food.results.forEach(val=>{ %>

            <div data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500" class="searchPage ">
              

                <img src="<%= val.image %>" class="hvr-bounce-out">
                <div>
                <ul class="nutri">
                  <li>Title: <%= val.title%></li>
                  <li>Calories: <%= val.calories%></li>
                  <li>Protein: <%= val.protein%></li>
                  <li>Fat: <%= val.fat%></li>
                  <li>Carbs: <%= val.carbs%></li>
                </ul></div>
            </div>
        <%})%>
    </main>
    



    <%- include('../layout/footer') %>
    <%- include('../layout/js-links') %>
    <script >
      AOS.init();
    </script>
</body>

</html>