<!DOCTYPE html>
<html lang="en">


  <%- include('../layout/head') %>


<body>
    <%- include('../layout/header') %>
    <main>
        <% food.results.forEach(val=>{ %>
            <div style="border: 1px solid red; padding: 20px;">
                <img src="<%= val.image %>" >
                <p >Title: <%= val.title%></p>
                <p >Calories: <%= val.calories%></p>
                <p >Protein: <%= val.protein%></p>
                <p >Fat: <%= val.fat%></p>
                <p >Carbs: <%= val.carbs%></p>
            </div>
        <%})%>
    </main>


    <%- include('../layout/footer') %>
    <%- include('../layout/js-links') %>
</body>

</html>